html {
	width: 100%;
	height: 100%;
  }
  body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: linear-gradient(rgb(179, 201, 215), rgb(63, 178, 180));
	color: #001068;
	font-family: sans-serif;
  }
  h1 {
	font-size: 3rem;
	color: #0b0565;
	text-decoration: underline overline 0.3em;
	text-decoration-color: rgb(247, 128, 1);
  }
  label {
	color: #001068;
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: 1em;
  }
  button{
	background-color: rgb(65, 224, 226);
	padding: 0.5em 0.5em;
	border-color: rgb(247, 128, 1);
	border-radius: 0.3em;
	font-weight: bold;
	font-size: 1.1rem;
	cursor: pointer;
	transition: all ease 0.4s;
  }
  button:hover{
	background-color: #c8e6f5;
  }
  hr {
	border-color: rgb(247, 128, 1);
	width: 60%;
  }
  input {
	text-align: left;
	padding: 0.5em 0.5em;
	font-size: 1.1rem;
	border-width: 2px;
	border-style: solid;
	border-color: #eee;
	border-radius: 0.4rem;
	outline: transparent;
	transition: border-color calc(var(--transition, 0.2) * 1s) ease;
	cursor: pointer;
  }
  select {
	text-align: left;
	padding: 0.5em 0.5em;
	font-size: 1.1rem;
	border-width: 2px;
	border-style: solid;
	border-color: #eee;
	border-radius: 0.4rem;
	outline: transparent;
	transition: border-color calc(var(--transition, 0.2) * 1s) ease;
	cursor: pointer;
  }
  #principal {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
  }
  #lista {
	text-align: left;
	width: 60%;
  }
  #valores {
	color: black;
	font-size: 1.1rem;
  }